#contacto {
	display: flex;
    /* grid-template-columns: auto 200px auto; */
	flex-direction: column;
    padding: 10px;
	/* justify-content:center; */
    align-items: center;
    /* background-color:blue; */
}

#contacto .item {
	/* flex: 1 0 auto; */
    /* display: flex; */
    /* justify-content:flex-start; */
    /* align-items: center; */
	font-weight: bold;
	padding: 10px;
    /* background-color: aquamarine; */
    width: 390px;
}

#contacto form{
    /* background-color: aquamarine; */
    width: 500px;
}

#titulo_contacto{
    display: flex;
    /* background-color: aqua; */
    width: 500px;
}
section#contacto-motivo {
	flex: 1 1 auto;
	
}

.boton {
    display: flex;
    justify-content: end;
    padding: 20px;
    /* background-color: blue; */
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
	#contacto {
        /* background-color: black; */
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        /* width: 90%; */
    
    }
    #contacto form{
        /* background-color: aquamarine; */
        width: 100%;
    }

    #titulo_contacto{
        display: flex;
        /* background-color: aqua; */
        width: 100%;
    }

    #contacto .item {
        display: flex;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        /* background-color: blue; */
        width: 90%;
    }
}