#contacto {
	display: flex;
    /* grid-template-columns: 1fr 800px 1fr; */
	/* flex-direction: column; */
    padding: 10px;
	justify-content:center;
    /* align-items: center; */
    /* background-color:blue; */
}

form{
    /* background-color: aquamarine; */
    font-size: 1.3rem;
    width: 800px;
}

.item {
	/* display: flex; */
    /* justify-content:flex-start; */
    /* align-items: center; */
    flex-direction: column;
    font-weight: bold;
	padding: 10px;
    /* background-color: aquamarine; */
    /* width: 850px; */
    /* flex-wrap: nowrap; */
}
.item *{
    font-size: 1.3rem;
    width: 100%;
    border-radius: 5px;
}
.item label{
    display: block;
}

#titulo_contacto{
    display: flex;
    margin-left: 10px;
    /* background-color: aqua; */
    /* width: 500px; */
}
#contacto-motivo {
	flex: 1 1 auto;
	
}

.boton {
    display: flex;
    /* justify-content: end; */
    padding: 20px;
    width: 20%;
    /* background-color: blue; */
}
.mas_datos {
    display: block;
    /* background-color: bisque; */
    margin-left: 20px;
    padding: 0 50px;
    width: 50vh;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.384);
	border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
	#contacto {
        /* background-color: black; */
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        /* width: 90%; */
    
    }
    form {
        /* background-color: aquamarine; */
        width: 100%;
    }

    .item {
        display: flex;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        /* background-color: blue; */
        width: 90%;
    }
}