#contacto {
	display: flex;
    /* grid-template-columns: auto 200px auto; */
	flex-direction: column;
    padding: 10px;
	/* justify-content:center; */
    align-items: center;
    /* background-color:blue; */
}

#contacto .item {
	/* flex: 1 0 auto; */
    /* display: flex; */
    /* justify-content:flex-start; */
    /* align-items: center; */
	font-weight: bold;
	padding: 10px;
    /* background-color: aquamarine; */
    width: 390px;
}

#contacto form{
    /* background-color: aquamarine; */
    width: 500px;
}

#titulo_contacto{
    display: flex;
    /* background-color: aqua; */
    width: 500px;
}
section#contacto-motivo {
	flex: 1 1 auto;
	
}