body {
    padding: 0;
}

.catalogo {
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(auto-fit, minmax(370px, 350px));
    gap: 100px;
	padding: 10px;
    justify-content: space-between;
}

.titulo_catalogo {
    display: flex;
    margin-left: 10px;
}
.producto {
	
	/* border: 1px solid black; */
	text-align: center;
	border: 1px solid rgba(211, 211, 211, 0.384);
	border-radius: 5px; /* Bordes redondeados */
	box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.384);

}
.fondo_imagen img{
    width:370px;
}

.producto p{
	padding: 10px 20px 10px 20px;
    height: 50px;
}

.boton_producto {
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: aquamarine; */
    padding: 0px 10px 10px 0px;

}

.boton_producto button {
    /* background-color: #BEB09E; */
    color: #BEB09E;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 1px #BEB09E;
    padding: 10px;
    border-color: #BEB09E;
    width: 70%;
    background-color: transparent;
}

.boton_producto :hover {
    color: white;
    background-color: #BEB09E;
}