body {
    padding: 0;
}

.catalogo {
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 100px;
	padding: 10px;
}

.titulo_catalogo {
    display: inline-flexbox;
    padding-left: 10px;
}
.producto {
	
	/* border: 1px solid black; */
	text-align: center;
	border: 1px solid rgba(211, 211, 211, 0.384);
	border-radius: 5px; /* Bordes redondeados */
	box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.384);

}
.producto p{
	padding: 10px 20px 10px 20px;
}

.boton_producto {
    display: flex;
    align-items:center;
    justify-content: end;
    /* background-color: aquamarine; */
    padding: 0px 10px 10px 0px;

}

.boton_producto button {
    background-color: BEB09E;
    border-radius: 5px;
    padding: 10px;
    border-color: #F0F0F0;
}

.boton_producto button:hover {
    transform: translateX(5px);
}