body {
	font-family: 'Karla';
}
ul.nav-list {
	display: flex;
	flex-direction: row;
	list-style-type: circle; 
	background-color: #f39762;
	}
ul.nav-list li {
	flex: 0 1 200px;
	text-decoration: none;
	color: white;
}

ul.nav-list li::marker {
	color: red;
	font-size: 2em;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(to right, #ffffff, #f39762, #f4a153); 
	background-size: cover;
	border: 5px;
	border-bottom-style: inset;
	
}

header #logo {
	flex: 1 1 10px;
	width: 20%;
	height: 20%;
}

header h1 {
	flex 1 1 auto;
}

footer {
	gap: 10px;
	text-align: center;
	padding: 10px;
	background: linear-gradient(to right, #ffffff, #f39762, #f4a153);
	border: 5px;
	border-top-style: outset;
}

footer i {
	font-size: 20px;
	color: white;

}

.social-icons {
	display: flex;
	gap: 1rem;
	margin-top: .5rem;
	list-style: none;
	justify-content: center;
}

.social-icons li {
	flex: 0 0 auto;
	display: list-item;
	
}

main {
	display: flex;
	flex-direction: row;
	padding: 10px;
	
}

section#intro {
	flex: 1 1 auto;
	border: 15px;
	border-color: red;
	color: orange;
}

aside#video {
	flex: 1 1 auto;
	border: 15px;
	border-color: red;
}

section#contacto {
	display: flex;
	width: auto;
	flex-direction: column;
	padding: 10px;
	justify-content: start;
}

section#contacto .item {
	flex: 1 0 auto;
	font-weight: bold;
	padding: 10px;
}

section#contacto-motivo {
	flex: 1 1 auto;
	
}

section#contacto button {
	background-color: #f39762;
	color: white;
	width: 100%;
	margin-top; 10px;
	padding: 10px;
}

section a.title {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}