body {
	font-family: 'Karla';
}
ul.nav-list {
		list-style-type: circle; 
	}
ul.nav-list li {
	text-decoration: none;
}

ul.nav-list li::marker {
	color: red;
	font-size: 2em;
}

header {
	background: linear-gradient(to right, #ffffff, #f39762, #f4a153); 
	background-size: cover;
	border: 5px;
	border-bottom-style: inset;
	
}

nav {
	border: 5px;
	border-style: double;
	border-color: red;
}

footer {
	gap: 10px;
	text-align: center;
	padding: 10px;
	background: linear-gradient(to right, #ffffff, #f39762, #f4a153);
	border: 5px;
	border-top-style: outset;
}

footer i {
	font-size: 20px;
	color: white;

}

.social-icons {
	display: flex;
	gap: 1rem;
	margin-top: .5rem;
	list-style: none;
	justify-content: center;
}

.social-icons li {
	flex: 0 0 auto;
	display: list-item;
	
}